---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="highlight reveal">
  <p class="highlight__title">{title}</p>
  <p class="highlight__body"><slot /></p>
</div>
